
body{
  font-family: sans-serif;
}
.main{
  display: flex;
}


.sidebar{
  width: 340px;
  padding: 110px 20px ;
  margin: 0 20px;
  box-sizing: border-box;
  position: fixed;
}
.sidebar-arrow{
  position: absolute;
  top: 0;
  left: 360px;
  font-size: 41px;
}
.sidebar::after{
  content: "";
  width: 4px;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 60px;
  left: 380px;
}
.nav-title{
  font-size: 37px;
  height: 49px;
  text-align: center;
  text-decoration: solid;
}
.nav-wrapper ul{
  list-style:none;
  padding: 0px;
  text-align: center;
  margin: 85px 0 ;
}
.nav-wrapper ul a{
  text-decoration: none;
  color: #000;
}
.nav-btn{
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 45px;
  margin-bottom: 3px;
}
.nav-activ{
  background: #ffcc0d;
}
.social-wrapper{
  width: 300px;
  padding: 0 20px 0;
  border-top: 4px solid #000;
  margin: 0px 0 0 -20px;
}
.social ul{
  padding: 85px 0 0 0;
  margin: 0;
  display: flex;
  justify-content: center;
  color: #000;
  list-style: none;
}
.social ul a{
  color: #000;
}
.social li {
  padding: 11.5px 12px 7.5px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  border: 2px solid #000;
  margin: 5px;
}
.desc{
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0 0 ;
  text-align: center;
}


.content-wrapper{
  width: 1200px;
  margin: 0 0 0 543px;
}
.home-wrapper{
  padding: 200px 0 202px;
  border-bottom: 4px solid;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-title-wrapper{
  width: 50%;
}
.home-title{
  font-size: 72px;
  font-weight: 600;
  font-family: Jost;
  color: #0e090d;
}
.home-title-wrapper p{
  font-size: 22px;
  font-weight: 400;
}
.picture{
  width: 450px;
  height: 550px;
  background-color: #ffcc0d;
  margin: 30px 120px 30px 30px;
  padding: 30px;
  border: 10px solid;
}
.home-arrow{
  font-size: 50px;
  position: relative;
  top: 550px;
  left: 160px;
}


.about-wrapper{
  padding: 200px 0 202px;
  border-bottom: 4px solid;
  margin: 0 auto 20px;
}
.about-title-wrapper{
  max-width: 800px;
  margin: 0 auto 52px;
}
.about-title{
  font-size: 72px;
  font-weight: 600;
  padding-bottom: 29px;
  margin-bottom: 43px;
  font-family: Jost;
  text-align: center;
}
.about-dsec{
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
.about-label-wrapper{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.about-label{
  font-size: 30px;
  font-weight: 400;
  padding: 7px 26px;
  margin: 0 0 30px 30px ;
  border: 4px solid #444 ;
  background-color: #f2f2f2;
}
.about-arrow{
  font-size: 40px;
  position: relative;
  top: 230px;
  left: 110%;
}

.education-wrapper{
  padding: 200px 0 202px;
  border-bottom: 4px solid;
  margin: 0 auto 20px;
  max-width: 800px;
}
.education-title{
  font-size: 72px;
  font-weight: 600;
  padding-bottom: 29px;
  margin-bottom: 43px;
  font-family: Jost;
  text-align: center;
}
.education-wrapper ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.education-item{
background-color: #f2f2f2;
padding: 52px 50px 53px;
margin: 0 0 20px;
}
.education-item h3{
  font-size: 18px;
  font-weight: 600;
  font-family: Jost;
  margin:0 0 6px;
  line-height: 30px;
}
.education-item span{
  margin:  0 0 0 20px;
  font-size: 18px;
  font-weight: 400;
  font-family: Jost,Arial,Helvetica,sans-serif;
}
.education-item h2{
  font-size: 30px;
  font-weight: 600;
  font-family: Jost;
  margin:0 0 17px;
  line-height: 34px;
}
.education-item p{
  font-size: 22px;
  font-weight: 400;
  font-family: Jost,Arial,Helvetica,sans-serif;
  margin: 0;
  line-height: 30.14px;
}
.education-arrow{
  font-size: 40px;
  position: relative;
  top: 230px;
  left: 140%;
}


.skill-wrapper{
  padding: 200px 0 202px;
  border-bottom: 4px solid;
  margin: 0 auto 20px;
  max-width: 800px;
}
.skill-title{
  font-size: 72px;
  font-weight: 600;
  padding-bottom: 29px;
  margin-bottom: 43px;
  font-family: Jost;
  text-align: center;
}
.skill-bar-wrapper{
width: 100%;
border: solid 4px;
padding: 10px;
margin:  0 0 20px;
}
.skill-bar{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  font-family: Jost;
  line-height: 52px;
  padding: 0 15px;
  background: #ffcc0d;
  box-sizing: border-box;
}
.skill-bar span{
  font-family: Jost,Arial,Helvetica,sans-serif;
  position: absolute  ;  
  right: 0%;
  padding: 0 15px;;
}
.bar-style92{
  width: 92%;
}
.bar-style95{
  width: 95%;
}
.bar-style80{
  width: 80%;
}
.bar-style85{
  width: 85%;
}
.skill-desc{
  font-size: 22px;
  font-weight: 400;
  font-family: Jost,Arial,Helvetica,sans-serif;
  margin: 0;
  line-height: 30.14px;
  text-align: center;
}
.skill-arrow{
  font-size: 40px;
  position: relative;
  left: 140%;
  top: 225px;
}


.project-wrapper{
  padding: 171px 0 0;
  border-bottom: 4px solid;
  margin: 0 auto 20px;
}
.project-title-wrapper{
  max-width: 800px;
  margin: 0 auto;
}
.project-title{
  font-size: 72px;
  font-weight: 600;
  padding-bottom: 29px;
  margin-bottom: 43px;
  font-family: Jost;
  text-align: center;
}
.project-desc{
  font-size: 22px;
  font-weight: 400;
  font-family: Jost,Arial,Helvetica,sans-serif;
  margin: 0 auto 100px;
  line-height: 30.14px;
  text-align: center;
}
.project-list-wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 1260px;
}
.project-list{
  width: 570px;
  padding: 0 0 0 60px;
  margin:  0 0 95px;
}
.project-list-title{
  font-size: 30px;
  font-family: Jost;
  font-weight: 600;
  text-decoration: #ffcc0d 2px underline;
  text-align: center;
  margin-bottom: 8px;
}
.project-list-left .project-list-title{
  margin-top: 34px;
}
.project-list-desc{
  font-size: 18px;
  font-weight: 400;
  font-family: Jost,Arial,Helvetica,sans-serif;
  text-align: center;
  margin-bottom: 33px;
}
.project-list-image{
  width: 570px;
  height: 570px;
  background-size: cover;
  background-position: center;
}
.img1{
  background-image: url(./image/1.jpg);
}
.img2{
  background-image: url(./image/2.jpg);
}
.img3{
  background-image: url(./image/3.jpg);
}
.img4{
  background-image: url(./image/4.jpg);
}
.project-arrow{
  font-size: 40px;
  position: relative;
  left: 110%;
  top: 30px;
}


.contact-wrapper{
  padding: 171px 0 0;
  border-bottom: 4px solid;
  margin: 0 auto 20px;
}
.contact-title{
  font-size: 72px;
  font-weight: 600;
  padding-bottom: 29px;
  margin-bottom: 43px;
  font-family: Jost;
  text-align: center;
}
.contact-input-wrapper{
  margin: 0 auto;
  width: 820px;
}
.contact-input{
  width: 390px;
  height: 70px;
  font-size: 22px;
  color: #000;
  border: 2px solid;
  padding: 0 30px 0;
  box-sizing: border-box;
  margin: 0 0 20px 20px;
}
.phone{
  width: 800px;
}
.message{
  width: 800px;
  height: 200px;
}
.contact-btn-wrapper{
  width: 800px;
  background: #ffcc0d;
  height: 70px;
  text-align: center;
  align-items: center;
  margin: 0 0 0 20px;
}
.contact-btn{
  text-decoration: none;
  font-size: 18px;
  color: #000;
  line-height: 70px;
  font-weight: 600;
  padding: 25px 327px;
}
.contact-info{
  width: 800px;
  margin: 86px auto;
  text-align: center;
}
.contact-info p{
  font-size: 14px;
  font-family: Jost,Arial,Helvetica,sans-serif;
  margin: 0 0px 10px;
}
.contact-info h3{
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 58px;
  font-family: Jost;
}
.contact-info a{
  font-size: 22px;
  font-weight: 400;
  color: #000;
  text-decoration-color: #ffcc0d;
}